In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/titanic/train.csv")

In [4]:
print(df.head())
print(df.shape)
print(df.info())
print(df.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [6]:
print(df.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df[df["Embarked"]].isna()])

SyntaxError: unmatched ']' (1135202559.py, line 1)

In [8]:
print(df[df["Embarked"].isna()])

     PassengerId  Survived  Pclass                                       Name  \
61            62         1       1                        Icard, Miss. Amelie
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
61   female  38.0      0      0  113572  80.0   B28      NaN
829  female  62.0      0      0  113572  80.0   B28      NaN

In [9]:
print(df[df["Age"].isna()])

     PassengerId  Survived  Pclass                                      Name  \
5              6         0       3                          Moran, Mr. James
17            18         1       2              Williams, Mr. Charles Eugene
19            20         1       3                   Masselmani, Mrs. Fatima
26            27         0       3                   Emir, Mr. Farred Chehab
28            29         1       3             O'Dwyer, Miss. Ellen "Nellie"
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex  Age  SibSp  Parch      Ticket     Fare Cabin Embarked
5      male  NaN      0      0      330877   8.4583   NaN        Q
17     male  NaN      0      0      244373  13.0000   NaN        S
19   female  NaN      0      0        2649   7.2250   NaN        C
26     male  NaN      0      0        2631   7.2250   NaN        C
28   female  NaN      0      0      330959   7.8792   NaN        Q
..      ...  ...    ...    ...         ...      ...   ...      ...
859    male  NaN      0      0        2629   7.2292   NaN        C
863  female  NaN      8      2    CA. 2343  69.5500   NaN        S
868    male  NaN      0      0      345777   9.5000   NaN        S
878    male  NaN      0      0      349217   7.8958   NaN        S
888  female  NaN      1      2  W./C. 6607  23.4500   NaN        S

[177 rows x 12 columns]

In [12]:
df[df["Cabin"].isna()].head())

SyntaxError: unmatched ')' (3070669409.py, line 1)

In [13]:
print(df[df["Age"].isna()].head())

    PassengerId  Survived  Pclass                           Name     Sex  Age  \
5             6         0       3               Moran, Mr. James    male  NaN
17           18         1       2   Williams, Mr. Charles Eugene    male  NaN
19           20         1       3        Masselmani, Mrs. Fatima  female  NaN
26           27         0       3        Emir, Mr. Farred Chehab    male  NaN
28           29         1       3  O'Dwyer, Miss. Ellen "Nellie"  female  NaN

    SibSp  Parch  Ticket     Fare Cabin Embarked
5       0      0  330877   8.4583   NaN        Q
17      0      0  244373  13.0000   NaN        S
19      0      0    2649   7.2250   NaN        C
26      0      0    2631   7.2250   NaN        C
28      0      0  330959   7.8792   NaN        Q

In [14]:
print(df[df["Cabin"].isna()].head())

   PassengerId  Survived  Pclass                            Name     Sex  \
0            1         0       3         Braund, Mr. Owen Harris    male
2            3         1       3          Heikkinen, Miss. Laina  female
4            5         0       3        Allen, Mr. William Henry    male
5            6         0       3                Moran, Mr. James    male
7            8         0       3  Palsson, Master. Gosta Leonard    male

    Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0  22.0      1      0         A/5 21171   7.2500   NaN        S
2  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
4  35.0      0      0            373450   8.0500   NaN        S
5   NaN      0      0            330877   8.4583   NaN        Q
7   2.0      3      1            349909  21.0750   NaN        S

In [15]:
df = df.drop(columns=["Cabin", "Ticket"])

In [16]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked'],
      dtype='object')

In [17]:
embarked_mode = df["Embarked"].mode()[0]
print(embarked_mode)

S

In [18]:
print(df[df["Embarked"].isna()].head())
df["Embarked"] = df["Embarked"].fillna(embarked_mode)
print(df[df["Embarked"].isna()].head())

     PassengerId  Survived  Pclass                                       Name  \
61            62         1       1                        Icard, Miss. Amelie
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch  Fare Embarked
61   female  38.0      0      0  80.0      NaN
829  female  62.0      0      0  80.0      NaN
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Fare, Embarked]
Index: []

In [19]:
age_median = df["Age"].median()
print(age_median)

28.0

In [20]:
df["Age"] = df["Age"].fillna(age_median)

In [21]:
print(df.isna().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [22]:
before_rows = len(df)
df = df[df["Fare"]>0]
after_rows = len(df)
print("Rows removed with non-positive Fare:", before_rows - after_rows)

Rows removed with non-positive Fare: 15

In [23]:
print(df.dtypes)
df["Sex"] = df["Sex"].astype("category")
df["Embarked"] = df["Embarked"].astype("category")
df["Pclass"] = df["Pclass"].astype("category")
df["Survived"] = df["Survived"].astype("int8")
print(df.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
dtype: object
PassengerId       int64
Survived           int8
Pclass         category
Name             object
Sex            category
Age             float64
SibSp             int64
Parch             int64
Fare            float64
Embarked       category
dtype: object

In [24]:
# Overall survival rate

In [26]:
total = len(df)
survived = df["Survived"].sum()
print("Total passengers:", total)
print("Survived:", survived)
print("Survival rate: ", (survived / total))

Total passengers: 876
Survived: 341
Survival rate:  0.3892694063926941

In [27]:
survival_by_sex = df.groupby("Sex")

C:\Users\Khushwant Singh\AppData\Local\Temp\ipykernel_10956\797008146.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_sex = df.groupby("Sex")

In [28]:
print(survival_by_sex)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021F4550EE60>

In [29]:
survival_by_sex = df.groupby("Sex").mean()
print(survival_by_sex)

C:\Users\Khushwant Singh\AppData\Local\Temp\ipykernel_10956\212856050.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_sex = df.groupby("Sex").mean()

TypeError: category dtype does not support aggregation 'mean'

In [30]:
survival_by_sex = df.groupby("Sex")["Survived"].mean()
print(survival_by_sex)

Sex
female    0.742038
male      0.192171
Name: Survived, dtype: float64

C:\Users\Khushwant Singh\AppData\Local\Temp\ipykernel_10956\399066168.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_sex = df.groupby("Sex")["Survived"].mean()

In [31]:
survival_by_class = df.groupby("Pclass")["Survived"].mean()
print(survival_by_class)

Pclass
1    0.644550
2    0.488764
3    0.242300
Name: Survived, dtype: float64

C:\Users\Khushwant Singh\AppData\Local\Temp\ipykernel_10956\2784492020.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_class = df.groupby("Pclass")["Survived"].mean()

In [32]:
avg_age_by_survival = df.groupby("Survived")["Age"].mean()
print(avg_age_by_survival)

Survived
0    29.982243
1    28.301085
Name: Age, dtype: float64

In [34]:
women_third = df[(df["Sex"]== "female") & (df["Pclass"] == 3)]
print("Count of women in third class:", len(women_third))
print("Survival rate: ", women_third["Survived"].mean())

Count of women in third class: 144
Survival rate:  0.5

In [35]:
women_first = df[(df["Sex"]== "female") & (df["Pclass"] == 1)]
print("Count of women in first class:", len(women_first))
print("Survival rate: ", women_first["Survived"].mean())

Count of women in first class: 94
Survival rate:  0.9680851063829787

In [36]:
# loop through

In [37]:
genders = ["female", "male"]
classes = [1, 2, 3]

for gender in genders:
    for cls in classes:
        subset = df[(df["Sex"] == gender) & (df["Pclass"] == cls)]
        
        print(f"{gender.capitalize()} - Class {cls}")
        print("Count:", len(subset))
        print("Survival rate:", subset["Survived"].mean())
        print("-" * 30)

Female - Class 1
Count: 94
Survival rate: 0.9680851063829787
------------------------------
Female - Class 2
Count: 76
Survival rate: 0.9210526315789473
------------------------------
Female - Class 3
Count: 144
Survival rate: 0.5
------------------------------
Male - Class 1
Count: 117
Survival rate: 0.38461538461538464
------------------------------
Male - Class 2
Count: 102
Survival rate: 0.16666666666666666
------------------------------
Male - Class 3
Count: 343
Survival rate: 0.13411078717201166
------------------------------

In [38]:
## Option 2: Pandas-recommended way (groupby)

In [39]:
summary = (
    df
    .groupby(["Sex", "Pclass"])
    .agg(
        Count=("Survived", "size"),
        Survival_rate=("Survived", "mean")
    )
)

print(summary)

               Count  Survival_rate
Sex    Pclass
female 1          94       0.968085
       2          76       0.921053
       3         144       0.500000
male   1         117       0.384615
       2         102       0.166667
       3         343       0.134111

C:\Users\Khushwant Singh\AppData\Local\Temp\ipykernel_10956\2972051103.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(["Sex", "Pclass"])

In [40]:
##âœ… Option 3: Loop but use query() (more readable)

In [41]:
for gender in ["female", "male"]:
    for cls in [1, 2, 3]:
        subset = df.query("Sex == @gender and Pclass == @cls")
        print(f"{gender.capitalize()} - Class {cls}: "
              f"Count={len(subset)}, "
              f"Survival rate={subset['Survived'].mean():.2f}")

Female - Class 1: Count=94, Survival rate=0.97
Female - Class 2: Count=76, Survival rate=0.92
Female - Class 3: Count=144, Survival rate=0.50
Male - Class 1: Count=117, Survival rate=0.38
Male - Class 2: Count=102, Survival rate=0.17
Male - Class 3: Count=343, Survival rate=0.13

In [42]:
df.to_csv("../data/titanic/titanic_clean.csv",index=False)